.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
}

.list-group {
  visibility: hidden;
  opacity: 0;
  /* overflow: hidden; */
  position: absolute;
  width: 100%;
}

.show {
  visibility: visible;
  opacity: 1;
  position: static;
  transition: visibility 0s, opacity 0.5s;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.show-modal {
  visibility: visible;
  opacity: 1;
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}
